<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Expression_1</key>
	<string>[微笑]</string>
	<key>Expression_2</key>
	<string>[撇嘴]</string>
	<key>Expression_3</key>
	<string>[色]</string>
	<key>Expression_4</key>
	<string>[发呆]</string>
	<key>Expression_5</key>
	<string>[得意]</string>
	<key>Expression_6</key>
	<string>[流泪]</string>
	<key>Expression_7</key>
	<string>[害羞]</string>
	<key>Expression_8</key>
	<string>[闭嘴]</string>
	<key>Expression_9</key>
	<string>[睡觉]</string>
	<key>Expression_10</key>
	<string>[大哭]</string>
	<key>Expression_11</key>
	<string>[尴尬]</string>
	<key>Expression_12</key>
	<string>[发怒]</string>
	<key>Expression_13</key>
	<string>[可爱]</string>
	<key>Expression_14</key>
	<string>[龇牙]</string>
	<key>Expression_15</key>
	<string>[惊讶]</string>
	<key>Expression_16</key>
	<string>[]</string>
	<key>Expression_17</key>
	<string>[]</string>
	<key>Expression_18</key>
	<string>[]</string>
	<key>Expression_19</key>
	<string>[]</string>
	<key>Expression_20</key>
	<string>[]</string>
	<key>Expression_21</key>
	<string>[]</string>
	<key>Expression_22</key>
	<string>[]</string>
	<key>Expression_23</key>
	<string>[]</string>
	<key>Expression_24</key>
	<string>[]</string>
	<key>Expression_25</key>
	<string>[]</string>
	<key>Expression_26</key>
	<string>[]</string>
	<key>Expression_27</key>
	<string>[]</string>
	<key>Expression_28</key>
	<string>[]</string>
	<key>Expression_29</key>
	<string>[]</string>
	<key>Expression_30</key>
	<string>[]</string>
	<key>Expression_31</key>
	<string>[]</string>
	<key>Expression_32</key>
	<string>[]</string>
	<key>Expression_33</key>
	<string>[]</string>
	<key>Expression_34</key>
	<string>[]</string>
	<key>Expression_35</key>
	<string>[]</string>
	<key>Expression_36</key>
	<string>[]</string>
	<key>Expression_37</key>
	<string>[]</string>
	<key>Expression_38</key>
	<string>[]</string>
	<key>Expression_39</key>
	<string>[]</string>
	<key>Expression_40</key>
	<string>[]</string>
	<key>Expression_41</key>
	<string>[]</string>
	<key>Expression_42</key>
	<string>[]</string>
	<key>Expression_43</key>
	<string>[]</string>
	<key>Expression_44</key>
	<string>[]</string>
	<key>Expression_45</key>
	<string>[]</string>
	<key>Expression_46</key>
	<string>[]</string>
	<key>Expression_47</key>
	<string>[]</string>
	<key>Expression_48</key>
	<string>[]</string>
	<key>Expression_49</key>
	<string>[]</string>
	<key>Expression_50</key>
	<string>[]</string>
</dict>
</plist>
